
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<form method="post">
    <label>Name</label>
    <input name="name" />

    <br />

    <label>Description</label>
    <input name="Description" />

    <br />

    <label>Image</label>
    <input id="ImageUpload" name="Image" type="file" accept=".png, .jpg" />

    <br />

    <button type="submit">Save</button>
</form>
<script>
    $("#ImageUpload").change(function () {
        alert("Done");
    })
</script>