
@{
    ViewBag.Title = "Create";

}

    <div class="container mt-5 mb-5">
        <h2>Create Category</h2>

        <form id="createCategory">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Name <span class="text-danger">*</span></label>
                        <input class="form-control" name="Name" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" name="Description" />
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="hidden" id="ImageURL" name="ImageURL" />
                        <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <div class="thumb">
                        <img class="img-thumbnail img-fluid" id="categoryImage" src="#" />
                    </div>
                </div>
            </div>

            <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
            <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
        </form>
    </div>

<script>

</script>