@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}

<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <th>@product.Name</th>
            <th>-</th>
            <th>@product.Price</th>
            <th>
                <button>Edit</button>
                <button>Delete</button>
            </th>
        </tr>
        }
    </tbody>
</table>

